body{
    --main-bg-color: #e3e3e3;
    --main-color: #1a1923;

    background-color: var(--main-bg-color);    
    margin: 0;
    overflow: clip auto;
}

*{
    color: var(--main-color);
    box-sizing: border-box;
    margin: 0;
}

button, input[type="submit"], input[type="button"]{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--main-color);
}

p{
    margin: 1em 0;
}